# STRIPE
STRIPE_SECRET_KEY=sk_live_COLLE_TA_NOUVELLE_CLE_ICI
STRIPE_PUBLIC_KEY=pk_live_51TKl29BNYSLojMqZ96BghGCfEfXbJhYhVRqGDXVPbkgNlx0gcyyTI6haHBARYgJ3mgfitWL7WHwAvgDaCZPD19ps00PvE5p5Fd
STRIPE_WEBHOOK_SECRET=whsec_COLLE_TON_SECRET_WEBHOOK_ICI

# RESEND
RESEND_API_KEY=re_COLLE_TA_NOUVELLE_CLE_ICI

# ADMIN
ADMIN_EMAIL=lemeilleur@lecuistonier.com

# SERVER
PORT=3000
